<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddBranch</servlet-name>
        <servlet-class>AddBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddATM</servlet-name>
        <servlet-class>AddATM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchjava</servlet-name>
        <servlet-class>Searchjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBranch</servlet-name>
        <servlet-class>ViewBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>DBConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerachBranch</servlet-name>
        <servlet-class>SerachBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBranch</servlet-name>
        <servlet-class>SearchBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConnect</servlet-name>
        <servlet-class>LoginConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistroySession</servlet-name>
        <servlet-class>DistroySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBranch</servlet-name>
        <servlet-class>UpdateBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBranch</servlet-name>
        <servlet-class>DeleteBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteATM</servlet-name>
        <servlet-class>DeleteATM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchATM</servlet-name>
        <servlet-class>SearchATM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewATM</servlet-name>
        <servlet-class>ViewATM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateATM</servlet-name>
        <servlet-class>UpdateATM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <servlet-class>Notifications</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBranch</servlet-name>
        <url-pattern>/AddBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddATM</servlet-name>
        <url-pattern>/AddATM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchjava</servlet-name>
        <url-pattern>/Searchjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBranch</servlet-name>
        <url-pattern>/ViewBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerachBranch</servlet-name>
        <url-pattern>/SerachBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBranch</servlet-name>
        <url-pattern>/SearchBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConnect</servlet-name>
        <url-pattern>/LoginConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistroySession</servlet-name>
        <url-pattern>/DistroySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBranch</servlet-name>
        <url-pattern>/UpdateBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBranch</servlet-name>
        <url-pattern>/DeleteBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteATM</servlet-name>
        <url-pattern>/DeleteATM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchATM</servlet-name>
        <url-pattern>/SearchATM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewATM</servlet-name>
        <url-pattern>/ViewATM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateATM</servlet-name>
        <url-pattern>/UpdateATM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
